/* navbar */
.navbar {
    padding: 0.9rem 1rem;
}

.navbar-brand {
    font-family: 'Righteous', cursive;
    font-size: 28px
}

.navbar-light 
.navbar-nav 
.active>.nav-link, .navbar-light .navbar-nav
.nav-link.active, 
.navbar-light .navbar-nav 
.nav-link.show, .navbar-light
.navbar-nav .show>.nav-link {
    color: #fff;
    background-color: #000;
    border-radius: 5px;
}

.bottom-line {
    border-bottom: 1px solid #f5f6f6;
}